body.quotes {
    font-family: Arial, sans-serif;
    margin: 40px;
}



body.books {
    font-family: Arial, sans-serif;
    margin: 40px;
}

body.quotes h2 {
    color: #080808;
    text-align: center;
    
}

body.books h2 {
    color: #2a328a;
    text-align: center;
    
}

body.quotes h1 {
    color: #0e0d0e;
    
}

body.books h1 {
    color: #620b7a;
    
}
.data {
    border-collapse: collapse;
    width: 100%;
}
.data th, .data td {
    border: 1px solid #6231d3;
    padding: 8px;
}
body.quotes .data th {
    background-color: #64dac5;
    color: rgb(105, 10, 143);
    text-align: center;
    
}

body.books .data th {
    background-color: #ea7676;
    color: rgb(21, 2, 133);
    text-align: center;
    
}



nav {
    text-align: center;       /* center the links */
    margin-bottom: 20px;      /* space below nav */
}

nav a {
    text-decoration: none;
    color: #241bc8;           /* change for books if you want */
    font-weight: bold;
    margin: 0 15px;           /* spacing between links */
}

nav a:hover {
    color: #ff6600;           /* optional hover effect */
}